<div class="container jumbotron">
  <h4>
    Prognozy Dow Jones Industrial Average
    <%= link_to 'Nowa Prognoza', new_dji_forecast_path, class:"btn btn-sm btn-outline-success" if current_user.try(:admin) %>
  </h4>

  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead">
        <tr align="center">
          <th>Data prognozy</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @dji_forecasts.each do |dji_forecast| %>
          <tr align="center">
            <td><%= dji_forecast.created_at.strftime("%d.%m.%Y") %></td>
            <td><%= link_to 'Przejdź', dji_forecast, class:"btn btn-xs btn-success" %>
                <%= link_to 'Edytuj', edit_dji_forecast_path(dji_forecast), class:"btn btn-xs btn-warning" if current_user.try(:admin) %>
                <%= link_to 'Usuń', dji_forecast, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:"btn btn-xs btn-danger" if current_user.try(:admin) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p><%= will_paginate @dji_forecasts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>
</div>
