<div class="container jumbotron">
  <h4>
    Prognoza Dow Jones Industrial z dnia <%= @dji_forecast.created_at.strftime("%d.%m.%Y") %>
    <%= link_to 'Edycja', edit_dji_forecast_path(@dji_forecast), class:"btn btn-sm btn-outline-warning" if current_user %>
    <%= link_to 'Usuń', @dji_forecast, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:"btn btn-sm btn-outline-danger" if current_user.try(:admin) %>
    <%= link_to 'Lista prognoz', dji_forecasts_path, class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <div align="center">
    <% for i in 0...@dji_forecast.date.count %>
      <p>
        Data: <i><%= @dji_forecast.date[i] %></i> –
        prognoza według modelu Arima: <strong><%= @dji_forecast.close_arima[i] %></strong>,
        prognoza według sieci neuronowych: <strong><%= @dji_forecast.close_nnet[i] %></strong>
      </p>
    <% end %>
  </div>
</div>
