<%= form_with(model: dji_price, local: true) do |form| %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :dji_price_date %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open, id: :dji_price_open %>
  </div>

  <div class="field">
    <%= form.label :high %>
    <%= form.text_field :high, id: :dji_price_high %>
  </div>

  <div class="field">
    <%= form.label :low %>
    <%= form.text_field :low, id: :dji_price_low %>
  </div>

  <div class="field">
    <%= form.label :close %>
    <%= form.text_field :close, id: :dji_price_close %>
  </div>

  <div class="actions">
    <%= form.submit "Zatwierdź", class:"btn btn-sm btn-outline-success" %>
    <%= link_to 'Lista notowań', dji_prices_path, class:"btn btn-sm btn-outline-primary" %>
  </div>
<% end %>
