<div class="container jumbotron">
  <h4>
    Notowania Dow Jones Industrial
    <%= link_to 'Nowe Notowanie', new_dji_price_path, class:"btn btn-sm btn-outline-success" %>
  </h4><hr>

  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead">
        <tr align="center">
          <th>Data</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @dji_prices.each do |dji_price| %>
          <tr>
            <td><%= dji_price.date %></td>
            <td><%= dji_price.open %></td>
            <td><%= dji_price.high %></td>
            <td><%= dji_price.low %></td>
            <td><%= dji_price.close %></td>
            <td><%= link_to 'Przejdź', dji_price, class:"btn btn-xs btn-danger" %></td>
            <td><%= link_to 'Edytuj', edit_dji_price_path(dji_price), class:"btn btn-xs btn-danger" %></td>
            <td><%= link_to 'Usuń', dji_price, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:"btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p><%= will_paginate @dji_prices, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>

</div>
