<div class="container jumbotron">
  <h4>
    Notowanie Dow Jones Industrial
    <%= link_to 'Edycja', edit_dji_price_path(@dji_price), class:"btn btn-sm btn-outline-warning" %>
    <%= link_to 'Lista notowań', dji_prices_path, class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <p>Date: <strong><%= (@dji_price.date) %></strong></p>
  <p>Open: <strong><%= number_with_delimiter(@dji_price.open) %></strong></p>
  <p>High: <strong><%= number_with_delimiter(@dji_price.high) %></strong></p>
  <p>Low: <strong><%= number_with_delimiter(@dji_price.low) %></strong></p>
  <p>Close: <strong><%= number_with_delimiter(@dji_price.close) %></strong></p>

</div>
